@font-face {
    font-family: 'ibmp';
    src: local('IBM_Plex_Sans');
    src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf);
}



body {
    background-color: #fafafa;
    font-family: "ibmp";
    font-size: 16px;
    line-height: 21px;
}
body, html {
    font-size: 16px;
    line-height: 19px;
    color: #1f2933;
    font-weight: 400;
    scroll-behavior: smooth;
}
body {
    margin: 0;
}
* {
    box-sizing: border-box;
}

header {
    display: block;
}

.header {
    padding: 12px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
    max-width: 1330px;
    padding: 0 15px;
    margin: 0 auto;
}


 /* IMG and HEADER BUTTONS */


 .header__logo {
    height: 63px;
}
ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
a {
    background-color: transparent;
    cursor: pointer;
}

.header__buttons {
    display: flex;
    justify-content: right;
    align-items: right;
    width: 100%;
}

.header__buttons>li {
    margin-right: 15px;
}

.btn-blank {
    background: #fff;
    border: 1px solid #1f2933;
    color: #1f2933;
}
.btn {
    background: #6600ff;
    border-radius: 100px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 27px;
    color: #fff;
    transition: all .4s;
    cursor: pointer;
}

.fast {
    margin-top: 42px;
    overflow-x: hidden;
}

.fast__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 124px;
    line-height: 120%;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: "ibmp";
}
h1 {
    font-size: 4em;
    margin: 0.67em 0;
}

h1 span {
    background: #6600ffd0;
    border-radius: 95px;
    padding: 0px 25px;
}

.fast__wrapper-btn {
    margin-top: 32px;
    padding: 0 84px;
    text-transform: uppercase;
}
.fast__wrapper-right {
    margin-right: -62px;
}



    /* FORD */

    .ford {
        margin-top: 70px;
        background-color: #dceefb;
    }

    .ford__wrapper {
        padding: 70px 0 50px 0;
        display: flex;
        flex-wrap: wrap;
    }
    .ford__wrapper-item {
        width: 31%;
        margin-right: 3%;
        margin-bottom: 28px;
        height: 201px;
        background: #fff;
        border-radius: 8px;
        padding: 30px;
        display: flex;
        align-items: flex-start;
        position: relative;
        margin-left: auto;
        margin-right: AUTO;
    }
    .ford__wrapper-item_img {
        margin-right: 25px;
    }

    h4 {
        font-family: "ibmp";
        font-size: 20px;
        line-height: 26px;
    }

    .ford__wrapper-item_text {
        margin-top: 10px;
    }

    .footer {
        padding: 85px 0;
    }

    footer {
        display: block;
    }

    .footer__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 10px;
    }

    .footer__wrapper-site {
        font-family: "ibmp";
    }

    .footer__wrapper-links {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer__wrapper-cards {
        display: flex;
        align-items: center;
    }

    .footer__wrapper-cards_item {
        margin-right: 30px;
    }

    .footer__wrapper-cards_item:last-child {
        margin-right: 0;
    }

    .footer_text {
        font-size: 13px;
        margin-top: 20px;
        color: #333;
    }

    .footer__wrapper-links a {
        color: #1f2933;
        margin-right: 30px;
        font-family: "ibmp";
    }